/* .header {
    border-bottom: 2px solid #ff8e26;
}

.header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0;
}

.header__left {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__site-logo {
    position: relative;
}

.header__navbar {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__navbar._active {
    right: 0;
}

.header__navbar .navbar__item:hover .navbar__link {
    color: #ff8e26;
}

.navbar__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navbar__item {
    padding: 10px 30px;
    text-transform: uppercase;
    line-height: 22px;
}

.navbar__item.active .navbar__link {
    color: #ff8e26;
    font-weight: 600;
}

.navbar__link {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: black;
}

.site-logo .site-logo__image {
    max-height: 50px;
} */
