.testimonial {
    background: #F4F4F4;
    box-shadow: 3px 5px 25px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 20px;
    &__header {
        display: flex;
        font-size: 18px;
        margin-bottom: 15px;
    }
    &__author {
        font-weight: 600;
        color: black;
        margin-right: 20px;
    }
    &__date {
        color: #686868;
    }
    &__body {
        color: #434343;
        line-height: 20px;
    }
}


.location {
    &__name {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 600;
    }
    &__district {
        margin-top: 17.5px;
    }
    &__district-name {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    &__towns {
        padding-left: 15px;
    }
    &__town {
        & + & {
            padding-top: 10px;
        }
    }
    &__link {
        color: black;
        transition: all .3s ease 0s;
        &:hover {
            color: $color-primary;
        }
    }
}
